.chats_panel {
  @extend %flex-container;

  max-width: 310px;
  justify-content: center;
  grid-area: chats;
  align-content: flex-start;
}

.chats_panel__search_panel {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}
