@import "../../../css/global";

.form__button
{
  @extend %text_view;
  width: 220px;
  background-color: #c4c4c4;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  text-align: center;
  cursor: pointer;
  &:hover
  {
    background-color: #b4b4b4;
  }
}
