.form__button {
  @extend %text_view;

  width: 220px;
  background-color: $button_bgcolor;
  box-shadow: 0 0 10px $whole_shadow_color;
  text-align: center;
  cursor: pointer;

  &:hover {
    background-color: $button_bgcolor_hover;
  }
}
