.main {
  display: grid;
  grid-template-areas:
    "nav   users mes"
    "chats users mes "
    "chats users write";
  grid-template-rows: 50px calc(100vh - 200px) 100px;
  grid-template-columns: 310px 310px calc(100% - 640px);
  gap: 10px;
}
