.main {
  display: grid;
  grid-template-areas:
    "nav   title"
    "chats mes "
    "chats write";
  grid-template-rows: 50px calc(100vh - 200px) 100px;
  grid-template-columns: 310px calc(100% - 330px);
  gap: 10px;
}
