@import "../../../static/global";

.mainframe_leftpanel
{
  @extend %panel_view;
  top: 50px;
  height: 100%;
  overflow: auto;

}

.clear_table_frame
{
  border: 0;
  padding: 0;
  vertical-align: center;
  text-align: center;
}