@import "../../../static/global";

.mainframe_toppanel
{
  @extend %panel_view;
  top: 0;
  height: 50px;
  overflow: hidden;
}

.mainframe_chatlist_img_pic1
{
  @extend %circle_form_medium;
  background-image: url(/static/img/pic1.jpg);
}

.mainframe_chatlist_img_pic2
{
  @extend %circle_form_medium;
  background-image: url(/static/img/pic2.jpg);
}

.mainframe_chatlist_img_pic3
{
  @extend %circle_form_medium;
  background-image: url(/static/img/pic3.jpg);
}

.mainframe_chatlist_img_pic4
{
  @extend %circle_form_medium;
  background-image: url(/static/img/pic4.jpg);
}

.mainframe_chatlist_img_pic5
{
  @extend %circle_form_medium;
  background-image: url(/static/img/pic5.jpg);
}

.mainframe_chatlist_new
{
  @extend %circle_form_small;
  background: #99BCD6;
  font-weight: bold;
  font-size: 12px;
  padding-top: 4px;
  text-align: center;
}

.mainframe_chatlist
{
  font-family:  inherit;
  font-size:    inherit;
  width:        ($left_panel_width - 20);
  padding:      10px;
  cursor:       pointer;
  &:hover  {    background: RGBA(0,0,0,0.1);  }
}

.mainframe_chatlist_title
{
  text-align: left;
  font-weight: bold;
}

.mainframe_chatlist_text
{
  text-align: left;
  font-size: 12px;
}

.mainframe_chatlist_time
{
  text-align: right;
  font-size: 12px;
}

.mainframe_chatlist_new_box
{
  display: block;
  text-align: right;
}
