.form__but_img {
  width: 32px;
  height: 32px;
  overflow: hidden;
  box-sizing: border-box;
  padding: 0;
  background-size: cover;
  cursor: pointer;
  transition: all linear 0.2s;

  &:hover {
    filter: drop-shadow(5px 5px 1px rgba(0, 0, 0, 0.2));
  }
}
