@import "../../../static/global";

%mes_list
{
  display: flex;
  box-sizing: border-box;
  padding: 10px;
  width: 50%;
  margin: 20px;
  border-radius: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.mes_element__others
{
  @extend %mes_list;
  background-color: #FFFFFF;
  margin-right: 40%;
}

.mes_element__yours
{
  @extend %mes_list;
  background-color: #BACCEF;
  margin-left: 40%;
}

.mes_element__author
{
  font-family: $whole_font_family;
  font-size: 14px;
  text-align: left;
  font-weight: bold;
}

.mes_element__time
{
  font-family: $whole_font_family;
  font-size: 14px;
  text-align: right;
}

.mes_element__text
{
  font-family: $whole_font_family;
  font-size: $whole_font_size;
  text-align: left;
  width: 100%;
}
