@import "../../../static/global";

.write_panel
{
  @extend %frame_view;
  position: fixed;
  bottom: 0px;
  height: 50px;
  width: calc(100% - #{$left_panel_width});
  overflow: hidden;
  left: $left_panel_width+10;
}

.clear_table_frame
{
  border: 0;
  padding: 0;
  vertical-align: center;
  text-align: center;
}

%button_picture
{
  width: 30px;
  height: 30px;
  background-size: cover;
  cursor: pointer;
}

.button_picture_link
{
  @extend %button_picture;
  background-image: url(/static/img/link_file.png);
  float: left;
}

.button_picture_send
{
  @extend %button_picture;
  background-image: url(/static/img/send.png);
  float: left;
}
