@import "../../../static/global";

.chat_element {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;

  &:hover {
    background: rgba(255, 255, 255, 0.5);
  }
}

.chat_element__photo {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-size: cover;
  flex-shrink: 0;
}

.chat_element__data {
  @extend %flex-container;

  justify-content: space-between;
  width: 250px;
}

.chat_element__new {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  box-sizing: border-box;
  background-size: cover;
  background-color: #99bcd6;
  font-weight: bold;
  font-size: 12px;
  padding-top: 4px;
  text-align: center;
}

.chat_element__title {
  font-weight: bold;
}

.chat_element__text {
  font-size: 12px;
}

.chat_element__time {
  font-size: 12px;
}
