$whole_font_family:    courier new, sans-serif;
$whole_font_size:      18px;

%flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  background: rgba(255, 255, 255, 0.2);
  font-family: $whole_font_family;
  font-size: $whole_font_size;
  padding: 10px;
}

%text_view {
  border: 0;
  font-family: $whole_font_family;
  font-size: $whole_font_size;
  height: 25px;
  border-radius: 10px;
}

.flex_element_break {
  flex-basis: 100%;
  height: 0;
}

%big_text_view {
  font-family: $whole_font_family;
  font-size: $whole_font_size*1.5;
  font-weight: bold;
  text-align: center;
  padding-bottom: 30px;
}
