.tableframe_large_img {
  width: 150px;
  height: 150px;
  border-radius: 150px;
  background: RGBA(255, 255, 255, 0.1);
  background-size: cover;
  display: inline-block;
  box-sizing: border-box;
}

.toppanel_input, .tableframe_input, .tableframe_button {
  border: 0;
  font-family: Courier New;
  font-size: 18px;
  height: 25px;
  display: inline-block;
  border-radius: 10px;
}

.tableframe, .mainframe_leftpanel, .mainframe_toppanel {
  background: RGBA(255, 255, 255, 0.2);
  box-sizing: border-box;
  font-family: Courier New;
  font-size: 18px;
  padding: 10px;
}

.mainframe_leftpanel, .mainframe_toppanel {
  position: fixed;
  left: 0;
  width: 310px;
}

.tableframe {
  text-align: center;
  margin: auto;
  width: 520px;
  border-spacing: 10px;
}

.mainframe_href, .tableframe_message {
  font-family: Courier New;
  font-size: 27px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 30px;
}

.tableframe_large_img {
  width: 150px;
  height: 150px;
  border-radius: 150px;
  background: RGBA(255, 255, 255, 0.1);
  background-size: cover;
  display: inline-block;
  box-sizing: border-box;
}

.toppanel_input, .tableframe_input, .tableframe_button {
  border: 0;
  font-family: Courier New;
  font-size: 18px;
  height: 25px;
  display: inline-block;
  border-radius: 10px;
}

.mainframe_leftpanel, .mainframe_toppanel, .tableframe {
  background: RGBA(255, 255, 255, 0.2);
  box-sizing: border-box;
  font-family: Courier New;
  font-size: 18px;
  padding: 10px;
}

.mainframe_leftpanel, .mainframe_toppanel {
  position: fixed;
  left: 0;
  width: 310px;
}

.tableframe {
  text-align: center;
  margin: auto;
  width: 520px;
  border-spacing: 10px;
}

.mainframe_href, .tableframe_message {
  font-family: Courier New;
  font-size: 27px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 30px;
}

.tableframe_button {
  text-align: center;
}

.tableframe_button {
  width: 220px;
  background-color: #c4c4c4;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.tableframe_button:hover {
  background-color: #b4b4b4;
}

.tableframe_large_img {
  width: 150px;
  height: 150px;
  border-radius: 150px;
  background: RGBA(255, 255, 255, 0.1);
  background-size: cover;
  display: inline-block;
  box-sizing: border-box;
}

.toppanel_input, .tableframe_input, .tableframe_button {
  border: 0;
  font-family: Courier New;
  font-size: 18px;
  height: 25px;
  display: inline-block;
  border-radius: 10px;
}

.mainframe_leftpanel, .mainframe_toppanel, .tableframe {
  background: RGBA(255, 255, 255, 0.2);
  box-sizing: border-box;
  font-family: Courier New;
  font-size: 18px;
  padding: 10px;
}

.mainframe_leftpanel, .mainframe_toppanel {
  position: fixed;
  left: 0;
  width: 310px;
}

.tableframe {
  text-align: center;
  margin: auto;
  width: 520px;
  border-spacing: 10px;
}

.mainframe_href, .tableframe_message {
  font-family: Courier New;
  font-size: 27px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 30px;
}

.toppanel_input, .tableframe_input {
  padding-left: 10px;
  text-align: left;
}

.tableframe_input {
  width: 300px;
}

.toppanel_input {
  width: 200px;
}

.tableframe_large_img {
  width: 150px;
  height: 150px;
  border-radius: 150px;
  background: RGBA(255, 255, 255, 0.1);
  background-size: cover;
  display: inline-block;
  box-sizing: border-box;
}

.tableframe_button, .tableframe_input, .toppanel_input {
  border: 0;
  font-family: Courier New;
  font-size: 18px;
  height: 25px;
  display: inline-block;
  border-radius: 10px;
}

.mainframe_leftpanel, .mainframe_toppanel, .tableframe {
  background: RGBA(255, 255, 255, 0.2);
  box-sizing: border-box;
  font-family: Courier New;
  font-size: 18px;
  padding: 10px;
}

.mainframe_leftpanel, .mainframe_toppanel {
  position: fixed;
  left: 0;
  width: 310px;
}

.tableframe {
  text-align: center;
  margin: auto;
  width: 520px;
  border-spacing: 10px;
}

.mainframe_href, .tableframe_message {
  font-family: Courier New;
  font-size: 27px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 30px;
}

.mainframe_toppanel {
  top: 0;
  height: 50px;
  overflow: hidden;
}

.clear_table_frame {
  border: 0;
  padding: 0;
  vertical-align: center;
  text-align: center;
}

.button_picture_search, .button_picture_profile {
  width: 30px;
  height: 30px;
  background-size: cover;
  cursor: pointer;
}

.button_picture_profile {
  background-image: url(/static/img/profile.png);
}

.button_picture_search {
  background-image: url(/static/img/search.png);
}

.tableframe_large_img {
  width: 150px;
  height: 150px;
  border-radius: 150px;
  background: RGBA(255, 255, 255, 0.1);
  background-size: cover;
  display: inline-block;
  box-sizing: border-box;
}

.tableframe_button, .tableframe_input, .toppanel_input {
  border: 0;
  font-family: Courier New;
  font-size: 18px;
  height: 25px;
  display: inline-block;
  border-radius: 10px;
}

.mainframe_leftpanel, .tableframe, .mainframe_toppanel {
  background: RGBA(255, 255, 255, 0.2);
  box-sizing: border-box;
  font-family: Courier New;
  font-size: 18px;
  padding: 10px;
}

.mainframe_leftpanel, .mainframe_toppanel {
  position: fixed;
  left: 0;
  width: 310px;
}

.tableframe {
  text-align: center;
  margin: auto;
  width: 520px;
  border-spacing: 10px;
}

.mainframe_href, .tableframe_message {
  font-family: Courier New;
  font-size: 27px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 30px;
}

.mainframe {
  background-image: url("/static/img/fon_main.png");
  background-repeat: repeat;
  text-align: center;
}

.mainframe_leftpanel {
  top: 50px;
  height: 100%;
  overflow: auto;
}

.tableframe_profile_td_quation {
  text-align: left;
}

.tableframe_profile_td_answer {
  text-align: right;
}

.tableframe_delimiter {
  border-bottom: 1px solid #000000;
}

.mainframe_href {
  color: #5463B4;
  display: inline-block;
  cursor: pointer;
}

/*# sourceMappingURL=index.css.map */
