@import "global";
@import "../src/components/button/button";
@import "../src/components/input/input";
@import "../src/components/top_panel/top_panel";
@import "../src/pages/login/login";

.mainframe
{
  background-image: url("/static/img/fon_main.png");
  background-repeat: repeat;
  text-align: center;
}

.mainframe_leftpanel
{
  @extend %panel_view;
  top: 50px;
  height: 100%;
  overflow: auto;

}

.tableframe_large_img
{
  @extend %circle_form_large;
}


.tableframe_profile_td_quation
{
  text-align: left;
}

.tableframe_profile_td_answer
{
  text-align: right;
}

.tableframe_delimiter
{
  border-bottom: 1px solid #000000;
}


.mainframe_href
{
  @extend %big_text_view;
  color: #5463B4;
  display: inline-block;
  cursor: pointer;
}