.form__input_control {
  padding: 10px;
  text-align: center;
  width: 100%;
  color: $input_control_color;
  font-size: 14px;
  border: 0;
  background: $input_control_back;
  font-family: $whole_font_family;
}
