@import "../../../static/global";

.tableframe_profile_td_quation
{
  text-align: left;
}

.tableframe_profile_td_answer
{
  text-align: right;
}

.tableframe_delimiter
{
  border-bottom: 1px solid #000000;
}