@import "../../../static/global";

%mes_list
{
  box-sizing: border-box;
  padding: 10px;
  width: 50%;
  margin: 20px;
  border-radius: 10px;
}

.mes_list_others
{
  @extend %mes_list;
  background-color: #FFFFFF;
  float: left;
}

.mes_list_yours
{
  @extend %mes_list;
  background-color: #BACCEF;
  float: right;
}

.mes_list_author
{
  font-family: $whole_font_family;
  font-size: 14px;
  text-align: left;
  font-weight: bold;
}

.mes_list_time
{
  font-family: $whole_font_family;
  font-size: 14px;
  text-align: right;
}

.mes_list_text
{
  font-family: $whole_font_family;
  font-size: $whole_font_size;
  text-align: left;
}